@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: "Jost";
  font-weight: 400;
  font-size: 1.125rem;
  color: #141024;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

body._lock {
  overflow: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #141024;
  font-family: "Jost";
}

input:-moz-placeholder {
  color: #141024;
  font-family: "Jost";
}

input::-moz-placeholder {
  color: #141024;
  font-family: "Jost";
}

input:-ms-input-placeholder {
  color: #141024;
  font-family: "Jost";
}

/* Структура сайта ---------------------------------------------------------------------------------------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-height: 100%;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 76.875rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

/*-----------title------------------------------------------------------------------------------------*/
.title {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 160%;
}

/*-----------button-------------------------------------------------------------------------------------------*/
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 160%;
  color: #141024;
  border-radius: 0.3125rem;
  background-color: #D52027;
}

/*-----------gradient-block----------------------------------------------------------------------------------*/
.gradient-block-background {
  position: relative;
  background: linear-gradient(90deg, grey 0%, transparent 100%);
}
.gradient-block-background__content {
  position: relative;
  z-index: 2;
}

.gradient-block-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  filter: blur(0.625rem);
  background: linear-gradient(90deg, grey 0%, transparent 100%);
  transition: opacity 0.4s ease 0s;
}

.gradient-block-background:hover::before {
  opacity: 1;
}

.gradient-block-border,
.gradient-block-border-hover {
  position: relative;
  background: linear-gradient(to right, grey 0%, transparent 100%) left top/100% 0.0625rem no-repeat, linear-gradient(to right, grey 0%, transparent 100%) left bottom/100% 0.0625rem no-repeat, linear-gradient(to right, transparent 0%, transparent 100%) left center/100% 100% no-repeat;
  border-radius: 0;
}
.gradient-block-border::before, .gradient-block-border::after,
.gradient-block-border-hover::before,
.gradient-block-border-hover::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0rem;
  transition: border-color 0.4s ease 0s;
}
.gradient-block-border::before,
.gradient-block-border-hover::before {
  left: 0;
  border: 0.0625rem solid grey;
  border-right: none;
  border-radius: 0 0 0 0;
}
.gradient-block-border::after,
.gradient-block-border-hover::after {
  right: 0;
  border: 0.0625rem solid transparent;
  border-left: none;
  border-radius: 0 0 0 0;
}

.gradient-block-border-hover:hover::before, .gradient-block-border-hover:hover::after {
  border-color: transparent;
}
.gradient-block-border-hover__content {
  position: relative;
  z-index: 2;
}
.gradient-block-border-hover__hide-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(to right, grey 0%, transparent 100%) left top/100% 0.0625rem no-repeat, linear-gradient(to right, grey 0%, transparent 100%) left bottom/100% 0.0625rem no-repeat, linear-gradient(to right, transparent 0%, transparent 100%) left center/100% 100% no-repeat;
  border-radius: 0;
  transition: opacity 0.4s ease 0s;
}
.gradient-block-border-hover__hide-border::before, .gradient-block-border-hover__hide-border::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0rem;
}
.gradient-block-border-hover__hide-border::before {
  left: 0;
  border: 0.0625rem solid grey;
  border-right: none;
  border-radius: 0 0 0 0;
}
.gradient-block-border-hover__hide-border::after {
  right: 0;
  border: 0.0625rem solid transparent;
  border-left: none;
  border-radius: 0 0 0 0;
}
.gradient-block-border-hover:hover > .gradient-block-border-hover__hide-border {
  opacity: 1;
}

/*-----------header-------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0.9375rem;
  column-gap: 1.25rem;
  background-color: #141024;
  flex-wrap: wrap;
}
.header__logo, .header__number {
  flex: 0 1 auto;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
  color: white;
}
@media (min-width: 76.875em) {
  .header__logo, .header__number {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (font-size: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .header__logo, .header__number {
      font-size: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .header__logo, .header__number {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .header__logo, .header__number {
    font-size: 1.25rem;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header__phone {
  display: none;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.625rem;
}
@media (min-width: 76.875em) {
  .menu__list {
    column-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (column-gap: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .menu__list {
      column-gap: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem )) {
    .menu__list {
      column-gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    column-gap: 0.625rem;
  }
}
.menu__link {
  color: white;
}

@media (max-width: 51.875em) {
  .header__number {
    font-weight: 400;
    font-size: 1.875rem;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #141024;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.875rem 0;
    padding: 5rem 2.5rem 2.5rem 2.5rem;
  }
  .menu__link {
    font-size: 1.875rem;
  }
  .menu._active {
    left: 0%;
  }
  .menu-burger {
    display: block;
    cursor: pointer;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.25rem;
  }
  .menu-burger__line {
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  .menu-burger__line:nth-child(1) {
    top: 0;
  }
  .menu-burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-burger__line:nth-child(3) {
    bottom: 0;
  }
  .menu-burger._active .menu-burger__line:nth-child(1) {
    top: 0.5625rem;
    transform: rotate(45deg);
  }
  .menu-burger._active .menu-burger__line:nth-child(2) {
    width: 0;
  }
  .menu-burger._active .menu-burger__line:nth-child(3) {
    bottom: 0.5625rem;
    transform: rotate(-45deg);
  }
}
/*-----------main-------------------------------------------------------------------------------------------*/
/*-----------footer-------------------------------------------------------------------------------------------*/