@import 'settings/functions';
@import 'settings/variables';

/*-----------main-------------------------------------------------------------------------------------------*/
.block {
    width: 20px;
    height: 600px;
    background-color: #fff;
}