@import '../settings/functions';
@import '../settings/variables';

/*-----------button-------------------------------------------------------------------------------------------*/

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(18);
    line-height: 160%;
    color: $text;
    border-radius: rem(5);
    background-color: $red;
}