@import '../settings/functions';
@import '../settings/variables';

/*-----------title------------------------------------------------------------------------------------*/

.title {
    font-size: rem($titleFontSize);
    font-weight: 600;
    line-height: 160%;
}