// Цвета ----------------------------------------------------------------------------------------------------------------------------------
$text: black;
$block: white;



// Текст ---------------------------------------------------------------------------------------------------------------------------------
$fontFamily: 'Segoe';
$fontWeight: 400;
$fontSize: 16;
$titleFontSize: 48;



// Контейнер ------------------------------------------------------------------------------------------------------------------------------
// Отступы безопасности
$containerPadding: 15;
// Ширина контейнера по макету
$maxWidthContainer: 1200;
// Ширина контейнера с учётом отступов безопасности
$containerWidth: $maxWidthContainer + $containerPadding + $containerPadding;
// Ширина полотна (макета)
$maxWidth: 1920;
// Минимальная ширина страницы
$minWidth: 320;