// Цвета ----------------------------------------------------------------------------------------------------------------------------------
$text: #141024;
$block: white;
$red: #D52027;
$blue: #141024;
$white: white;



// Текст ---------------------------------------------------------------------------------------------------------------------------------
$fontFamily: 'Jost';
$fontWeight: 400;
$fontSize: 18;
$titleFontSize: 50;


// Контейнер ------------------------------------------------------------------------------------------------------------------------------
// Отступы безопасности
$containerPadding: 15;
// Ширина контейнера по макету
$maxWidthContainer: 1200;
// Ширина контейнера с учётом отступов безопасности
$containerWidth: $maxWidthContainer + ($containerPadding *2); //сначала умножение
// Ширина полотна (макета)
$maxWidth: 1920;
// Минимальная ширина страницы
$minWidth: 320;